%fieldset 
  %ol
    %li
      = f.label "name"
      = f.text_field "name"

    %li
      = f.label "description"
      = f.text_area "description", :style => "width: 200px; height: 100px;"

    %li
      = f.label "license"
      = f.select "license", options_for_select([["public domain", "public domain"]])

    %li
      = f.label "table_dim", "Table dimension"
      = f.text_field "table_dim"

    %li
      = f.label "default_dim", "Default dimension"
      = f.select "default_dim", | 
          options_from_collection_for_select(@datatable.datacolumns, |
          "name", "name", @datatable.default_dim) |

    %li
      = f.label "units"
      = f.text_field "units"

    %li
      = f.label "multiplier", "Units multiplier"
      = f.text_field "multiplier"
    %li
      = f.label "is_numeric", "Numeric?"
      = f.check_box "is_numeric"    

    %li
      = f.label "notes"
      = f.text_area "notes", :style => "width: 200px; height: 100px;"
    %li
      = f.label "published_at"
      = @datatable.published_at
