%h3 List of datatables
%ul#table_list
  - unless @datasource.datatables.empty?
    - @datasource.datatables.each do |dt|
      %li
        = link_to "#{dt.is_numeric}::#{dt.table_heading} (#{dt.units})", edit_datasource_datatable_path(@datasource, dt)
  - else
    %li There are currently no datatables imported

= link_to "Add New Table", new_datasource_datatable_path(@datasource)
