%h2 Datatables for "#{truncate(@datasource.title, :length => 40)}"

%table.listing
  %tr
    %th Name
    %th Units
    %th Import
    %th Delete
  - unless @datasource.datatables.empty?
    - @datasource.datatables.each do |dt|
      %tr{ :class => cycle("even", "odd") }
        %td      
          = link_to dt.table_heading, edit_datasource_datatable_path(@datasource, dt)
        %td
          = "(#{dt.units})"
        %td
          = button_to "Import", import_datasource_datatable_path(@datasource, dt), :method => :put
        %td
          = button_to "Delete", datasource_datatable_path(@datasource, dt), :method => :delete, :confirm => "Delete?"
  - else
    %tr
      %td{ :colspan => 4 }
        There are currently no datatables imported

= image_tag "", :class => "lorem", :"data-size" => "16x16"
= link_to "Add New Table", new_datasource_datatable_path(@datasource)
