%table{ :style => "width: 84%" }
  %tr 
    %th{ :style => "width: 200px" } Columns
    %th Values
  - @datasource.headers_of(table).each do |header|
    %tr.datacolumn.included
      %td
        = check_box_tag "datacolumn_#{path_id(header)}", header.path, :checked => true
        = label_tag "datacolumn_#{path_id(header)}", truncate(h(formatted_html_content(header)), :length => 20)
      %td
        = @datasource.columns_of(table, header).map(&:content).inspect
