- table_time = Timer::timer do
  = hidden_field_tag "datatable[xpath]", table.path
  %table{ :style => "width: 85%; border-collapse: separate; border-spacing: 2px;" }
    %tr
      %th &nbsp;
      - header_time = Timer::timer do
        - Datatable::headers_of(table).each_with_index do |header, i|
          %th.datacolumn{ :class => column_checked?(@datatable, i) ? "included" : "excluded" }
            = check_box_tag "datatable[datacolumn_attributes][#{i}][included]", column_checked?(@datatable, i), column_checked?(@datatable, i)
            = hidden_field_tag "datatable[datacolumn_attributes][#{i}][name]", h(formatted_html_content(header))
            = hidden_field_tag "datatable[datacolumn_attributes][#{i}][xpath]", header.path
            = label_tag "datatable[datacolumn_attributes][#{i}][xpath]", truncate(h(formatted_html_content(header)), :length => 20)
      = "Header rendered in #{header_time}"
      
    - Datatable::rows_of(table).each_with_index do |row, row_index|
      %tr.datarow
        - row_time = Timer::timer do
          %td{ :class => row_checked?(@datatable, row_index) ? "included" : "excluded" }
            = check_box_tag "datatable[datarows][]", row_index, row_checked?(@datatable, row_index)
          - Datatable::cells_of(row).each_with_index do |cell, col_index|
            %td{ :class => row_checked?(@datatable, row_index) && column_checked?(@datatable, col_index) ? "included" : "excluded" }
              = cell.content.inspect.gsub(/\s+/, "")
        %td= "#{row_time} secs"
= "Table rendered in #{table_time} secs"
