.container
  %div.note{ :style => "float: right" }
    = link_to "&lsaquo; Back to datasource", datasource_path(@datasource)
  %h2 Edit Datatable's Metadata
  %p.half
    = link_to "See Original Page", @datasource.url, :target => "_blank"
  %p.half{ :style => "text-align: right" }
    = "Retrieved source in #{@elapsed} secs"

.container
  %div.half
    - form_for [:datasource, @datatable], :url => datasource_datatable_path(@datasource, @datatable), :html => { :class => "cmxform", :method => :put } do |f|
      = render :partial => "form", :locals => { :f => f }
      = f.submit "Update"
  
  %div.half{ :style => "overflow: scroll; height: 600px" }
    = render :partial => "selection_form", :locals => { :table => @datatable.node }
