.container
  %div.note{ :style => "float: right" }
    = link_to "&lsaquo; Back to datasource", datasource_path(@datasource)
  %h2 Edit Datatable's Metadata
  %p.half
    = link_to "See Original Page", @datasource.url, :target => "_blank"
  %p.half{ :style => "text-align: right" }
    = "Retrieved source in #{@elapsed} secs"

.container.clear
  .half
    - form_for [:datasource, @datatable], |
        :url => datasource_datatable_path(@datasource, @datatable), |
        :html => { :class => "cmxform", :method => :put } do |f| |
      = render :partial => "form", :locals => { :f => f }
      = f.submit "Update"

  .half
    %table.listing
      %tr
        %th &nbsp;
        %th Name
        %th Indep?
      - @datacolumns.each do |@datacolumn|
        %tr
          %td= link_to "edit ", edit_datacolumn_path(@datacolumn)
          %td= "[#{@datacolumn.name}] "
          %td= image_tag (@datacolumn.is_indep? ? "icons/accept.png" : "icons/cross.png")


.container.clear{ :style => "overflow: scroll; height: 600px" }
  %h2 Metadata
  = @datatable.metadata.inspect

  %h2 Data
  -# @datatable.data.inspect
  -# render :partial => "selection_form", :locals => { :table => @datatable.node }
