%h2 Edit Datasource
- form_for(:datasource, @datasource, :url => datasource_path(@datasource), :html => { :class => "cmxform", :method => :put }) do |f|

  %ol
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :url
      = f.text_field :url
    %li
      = f.label :type
      = f.select(:type, options_from_collection_for_select(Datasource::type_options, 'first', 'last'))

  = f.submit "Update"
