<h2>Edit Datasource</h2>
<% form_for(:datasource, @datasource, 
            :url => datasource_path(@datasource), 
            :html => { :method => "put" }) do |f| %>
  <div>
    <%= f.label :title -%><br/>
    <%= f.text_field :title -%>
  </div>
  <div>
    <%= f.label :url -%><br/>
    <%= f.text_field :url -%>
  </div>
  <div>
    <%= f.label :type -%><br/>
    <%= f.select(:type, options_from_collection_for_select(Datasource.type_options, 'first', 'last')) -%>
  </div>
  <%= f.submit "Update" %>
<% end %>
