.container
  %h2 Importer
  %div
    = render :partial => "new"

  .h2 Data Sources
  %div
    %table#datasources.listing
      %tr
        %th Title
        %th Type
        %th # of Tables
        %th Delete
      - if @datasources
        - @datasources.each do |ds|
          %tr{ :class => cycle("odd", "even") }
            %td.name
              = link_to ds.title, datasource_path(ds)
            %td
              = ds.type
            %td.num
              = ds.datatables.count
            %td
              = button_to "Delete", datasource_path(ds), :method => :delete
      - else
        %tr
          %td There are currently no datasources

