<div class="container">
  <h2>Importer</h2>
  <div>
    <% form_for @datasource do |f| -%>
      <%= f.label :url, "What URI would you like to import?" -%><br/>
      <%= f.text_field :url -%>
      <%= f.submit "Import" -%>
    <% end -%>
  </div>

  <h2>Data Sources</h2>
  <div>
    <table id="datasources">
      <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Tables</th>
      <th>Action</th>
      </tr>
      <% if @datasources %>
        <% @datasources.each do |ds| %>
        <tr>
          <td class="name">
            <%= link_to ds.title, datasource_path(ds) -%>
          </td>
          <td>
            <%= ds.type -%>
          </td>
          <td class="num">
            <%= "##" %>
          </td>
          <td>
            <%= button_to "Delete", datasource_path(ds), :method => :delete -%>
          </td>
        </tr>
      <% end.empty? %>
        <tr><td>There are currently no data sources in the source tracker.</td></tr>
      <% end %>
    </table>
  </div>
</div>
