.container
  = render :partial => "source"

  %div
    = link_to "Back to Datasources", datasources_path

  %div
    #remote_page.half
      = "datasource.display"
    
    #table_info.half
      = render :partial => "datatables/index"

      #table_new
      = link_to "Add New Table", new_datasource_datatable_path(@datasource), :"data-remote" => true, :"data-update" => "table_new"
