.container
  %div.note{ :style => "float: right" }
    = link_to "&lsaquo;&lsaquo; Back to Datasources", datasources_path

  #datasource_info
    %h1
      = truncate(@datasource.title, :length => 40)
      %span
        = link_to "Edit", edit_datasource_path(@datasource), :"data-remote" => "true", :"data-update" => "datasource_info"

    %table.listing
      %tr
        %th # of Datatables
        %th Last crawled at
        %th URL
      %tr
        %td= @datasource.datatables.count
        %td= time_ago_in_words(@datasource.last_crawled_at) if @datasource.last_crawled_at
        %td= link_to "See Original Page", @datasource.url, :target => "_blank"

.container
  #table_info
    = render :partial => "datatables/index"
