<li class="license">
  <div class="sidebar">
    <img src="/site-media/images/icons/sparkline.png" />
    <%= link_to "Overlay", viz_path(:dimension => @dimension.key), :"data-remote" => true, :"data-update-success" => "overlayGraph" %>
  </div>
  <div class="details">
    <p class="shrink fade">
      <%= truncate(@dimension['source_name'], :length => 30) %>
      <span style="float: right">
        <%= link_to "source", @dimension['url'] -%>
      </span>
    </p>
    <h3><a href="<%= viz_path(:dimension => @dimension.key) -%>" 
           data-remote="true" data-update-success="drawGraph">
        <%= @dimension.name %>
    </a></h3>
    <p class="shrink">
      default xaxis by <%= @dimension.default_xaxis %>
    </p>
    
    <div>
      <a href="" data-remote="false" data-update="<%= @dimension.html_id %>_description">
        <%= truncate(@dimension.description, 30) %>
      </a>
      <p id="<%= @dimension.html_id %>_description" class="hidden">
        <%= @dimension.description %>
      </p>
    </div>

    
    <table width="100%" style="font-size: 14px">
      <tr>
        <td>
          <% 5.times { image_tag "icons/star_empty.png" } -%>
        </td>
        <td style="text-align: right">
          <span class="shrink fade">
            Published <%= @dimension.publish_date %>
          </span>
        </td>
      </tr>
    </table>
  </div>
</li>
