<li class="license">
  <div class="sidebar">
    <%= image_tag "icons/sparkline.png" %>
    <%= link_to "Overlay", viz_path(:id => @dimension['dim_key']), :"data-remote" => true, :"data-update-success" => "overlayGraph" %>
  </div>
  <div class="details">
    <p class="shrink fade">
      <%= truncate(@dimension['source_name'], :length => 30) %>
      <span style="float: right">
        <%= link_to "source", @dimension['url'] -%>
      </span>
    </p>
    <h3><a href="<%= viz_path(:id => @dimension['dim_key']) -%>" 
           data-remote="true" data-update-success="drawGraph">
        <%= humanized_dimension(@dimension) %>
    </a></h3>
    <p class="shrink">
      default xaxis by <%= @dimension['default'] %>
    </p>
    
    <div>
      <a href="" data-remote="false" data-update="<%= htmlized_dimension(@dimension) %>_description">
        <%= truncate(@dimension['description'], :length => 30) %>
      </a>
      <p id="<%= htmlized_dimension(@dimension) %>_description" class="hidden">
        <%= @dimension['description'] %>
      </p>
    </div>

    
    <table width="100%" style="font-size: 14px">
      <tr>
        <td>
          <% 5.times { image_tag "icons/star_empty.png" } -%>
        </td>
        <td style="text-align: right">
          <span class="shrink fade">
            Published <%= @dimension['publish_date'] %>
          </span>
        </td>
      </tr>
    </table>
  </div>
</li>
