<div class="container clear">
  <div class="one_third">
    <div id="search_controls">
      <% form_tag(search_viz_path, :method => :get, :"data-remote" => "true", :"data-update" => "search_results") do -%>
        <%= text_field_tag :q, nil, :class => "search", :style => "width: 90%" -%>
      <% end -%>
    </div>

    <div id="search_results">
      <%= render :partial => "suggestions" %>
    </div>
  </div>

  <div class="two_third">
    <div id="graph">
      <% if @datapack %>
        <%= render :partial => "visualization" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container clear">
  <%= link_to "Debug info", "", :"data-remote" => false, :"data-update" => "debug" -%>
  <div id="debug" class="hidden">
    <%= @dimension_key %>
    <%= debug @metadata %>
    <%= debug @datapack %>
  </div>
</div>

