- content_for :splash do
  .section.splash
    .half
      .container
        %h2 Easily Visualize Public Data
        %p
          There's lots of public data out there, but there's <br/>
          no quick way to visually explore that data.
        %div{ :style => "margin-top: 3em" }
          - form_tag(notify_launch_funnelcake_path, :method => :post) do
            .headroom.legroom
              = text_field_tag("email", nil, :class => "balloon", :style => "width: 300px; padding: 0.25em;", :placeholder => "Leave your email here.")
            = submit_tag "Notify me when you launch", :class => "balloon", :style => "font-size: 1.2em; width: 300px"

.half
  .container
    %h2 What is it?
    %p
      %span{ :style => "font-weight: bold;" } Graphbug
      is a quick way to find public datasets and explore it through visualizations.
    
    %h2 How do I do that?
    %p
      You look for a set of data, we pull it up and graph it for you.  You can 
      also overlay different datasets.  If we don't have the data you're looking for,
      tell us and we'll try to go find it.
    
    %h2 Where is it?
    %p
      It's currently under development, and we'd like you to be an alpha tester.
      We're pretty excited to show it to you once we have something basic, 
      then you can throw all the flowers or rotten tomatoes to help make it better.

.half
  .container
    %h2 What datasets?
    %p
      Currently, we're starting with public government data in CSV files, and 
      other low hanging fruit.  If there's a dataset that you'd like to be 
      included, help us out and tell us:
    %div.headroom
      - form_tag(suggest_dataset_funnelcake_path, :class => "cmxform", :method => :post) do
        %ol.legroom
          %li
            = label_tag("suggestion[body]", "Dataset suggestions")
            = text_area_tag("suggestion[body]", @body, :style => "width: 245px; padding: 0.25em", :rows => 6)
          %li
            = label_tag("suggestion[email]", "Your email address")
            = text_field_tag("suggestion[email]", @email, :style => "width: 240px; padding: 0.25em;")
        = submit_tag("Suggest", :style => "width: 200px;")
