<!doctype html>
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Graphbug : importation 
    
    = stylesheet_link_tag "css_commons/reset-fonts-grids.css" 
    = stylesheet_link_tag "css_commons/three_column_fixed_layout.css" 
    = stylesheet_link_tag "css_commons/widgets.css" 
    = stylesheet_link_tag "bugs_life_theme.css" 
    
    -# core javascript libraries
    = javascript_include_tag "underscore.js" 
    = javascript_include_tag "jquery-1.3.2.min.js" 
    = javascript_include_tag "french_maid.js"

    -# application specific javascript libraries
    = javascript_include_tag "application.js"
    
    -# debugging libraries
    - if RAILS_ENV == "development" and Graphbug::FIREBUG
      = javascript_include_tag "http://getfirebug.com/releases/lite/1.2/firebug-lite"

    -# page specific custom included libraries
    = yield :include

  %body
    = render :partial => "layouts/frame"
